{% extends "layout.html" %}
{% block body %}

<div class="container-fluid bg-3 text-center">
  <h3>My tasks for the SI/TW week of 18-28th June 2018</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>Preparing for Lensa interview</p>
      <img src="/static/images/lensaWS.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Direct interview for the python developer position at Lensa</p>
      <img src="/static/images/lensaPont.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Preparing for MS advanced interview</p>
      <img src="/static/images/cracking.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Taking part on the carrier day at Morgan Stanley</p>
      <img src="/static/images/morgan.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-3">
      <p>Reading and watching tutorials about Functional Programming</p>
      <img src="/static/images/functional.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Solving an algorithm with functional programming</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Preparing for a lightening talk about "Functional elements in JAVA 8"</p>
      <img src="/static/images/functJava.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Presenting the lightnening talk about "Functional elements in JAVA 8"</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>Planned on 18th June 2018</p>
</footer>

{% endblock %}